<ion-modal-view>
  <ion-content>
    <ion-header-bar>
      <i class="icon ion-ios-close close-modal" ng-click="closeModal(2)"></i>
      <h1 class="title">HOW IT WORKS?</h1>
    </ion-header-bar>
    <ion-content>
      <ion-slides>
        <ion-slide>
          <div style="background-color:green;">
            <p>
          1
        </p>
      </div>
      </ion-slide>
        <ion-slide>  <div style="background-color:red;">
            <p>
        2
        </p></ion-slide>
      </ion-slides>
    </ion-content>
  </ion-modal-view>
    <!--h1>WIZARD</h1>
    <ion-slide-box>
      <ion-slide>
        <div style="background-color:green;">
          <p>
        1
      </p>
    </div>
  </ion-slide>
      <ion-slide>  <div style="background-color:red;">
          <p>
      2
      </p></ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
